body {
    background-color: #373636; /* Fondo azul marino */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.agregar {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    top: 8%;
    position: absolute;
    right: 23.5%;
}

.product {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    position: relative;
}

.product .product-info {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.product .imagen {
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    height: 100px;
    width: 100px;
}

.product-description {
    flex: 1; /* El texto ocupa el espacio restante */
}

.product .editar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 8px 16px;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #3e8e42; /* Verde más oscuro */
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Verde más oscuro */
}